<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kwasant</title>
    @Styles.Render("~/bundles/css/bootstrap3.0")    
    @Styles.Render("~/bundles/css/default")
    @RenderSection("styles", required: false)
    
    
    @Scripts.Render("~/bundles/js/jquery")
    @RenderSection("immediateScripts", required:false)
</head>
<body>
    <div class="container">
        <div class="masthead">
            <h3 class="text-muted">@Html.ActionLink("Kwasant", "Index", "Home")</h3>
                 <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Maginot Technologies, LLC Confidential</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/common")
    @RenderSection("scripts", required: false)

</body>
</html>
