<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kwasant</title>
    @Styles.Render("~/bundles/css/bootstrap3.0")
    @Styles.Render("~/bundles/css/default")
    @RenderSection("styles", required: false)


    @Scripts.Render("~/bundles/js/jquery")
    @RenderSection("immediateScripts", required: false)
</head>
<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container" style="background-color: #D2D2D2;">
                <div class="masthead">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse" style="color: #D06020">
                        <ul class="nav pull-left">
                            @*<h3>@Html.ActionLink("Kwasant", "Index", "Home")</h3></li>*@
                            <li><a class="brand goTop" href="index.html"><img class="floating" src="@Url.Content("Content/img/perfect-krawsant.png")"><h3>kwaSant</h3></a></li>

                        </ul>
                    </div>
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Maginot Technologies, LLC Confidential</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/common")
    @RenderSection("scripts", required: false)

</body>
</html>
