<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kwasant</title>
	<link rel='shortcut icon' type='image/x-icon' href='/Content/img/favicon.ico' />
    @Styles.Render("~/bundles/css/bootstrap30")    
    @Styles.Render("~/bundles/css/default")
	@Styles.Render("~/bundles/css/colorbox")
    @RenderSection("styles", required: false)     
    @Scripts.Render("~/bundles/js/jquery")
    @RenderSection("immediateScripts", required:false)	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300,600,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="Content/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div id="main-container">
		<header class="navbar navbar-static-top site-header">
			<div class="site-header-wrap">
				<div class="site-header-inner">
					<div class="container">
						<div class="navbar-header">
							<h3 class="brand goTop">
								<a href="@Url.Action("Index", "Home")"><img class="floating" src="@Url.Content("~/")Content/img/perfect-krawsant.png" alt="Kwasant" title="Kwasant" />Kwasant</a>
							</h3>                      
							<section id="login">
								@Html.Partial("_LoginPartial")
							</section>
						</div>
					</div>
				</div>
			</div>
			<div class="logotext text">
				<h1>Kwasant</h1>
				<p>We schedule your meetings for you</p>
			</div>
		</header>
		<div class="container body-content">
			@RenderBody()        
		</div>
		<div class="footer-clear">&nbsp;</div>
	</div>
	<footer class="site-footer">
		<div class="container">
			<p>&copy; @DateTime.Now.Year - Maginot Technologies, LLC Confidential</p>
		</div>
	</footer>

    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/bootstrap31")
    @Scripts.Render("~/bundles/js/common")
	@Scripts.Render("~/bundles/js/customjs")
    @RenderSection("scripts", required: false)

</body>
</html>
