<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }

        /* Set padding to keep content from hitting the edges */
        .body-content {
            padding-left: 15px;
            padding-right: 15px;
        }

        /* Set width on the form input elements since they're 100% wide by default */
        input,
        select,
        textarea {
            max-width: 280px;
        }

        /* styles for validation helpers */
        .field-validation-error {
            color: #b94a48;
        }

        .field-validation-valid {
            display: none;
        }

        input.input-validation-error {
            border: 1px solid #b94a48;
        }

        input[type="checkbox"].input-validation-error {
            border: 0 none;
        }

        .validation-summary-errors {
            color: #b94a48;
        }

        .validation-summary-valid {
            display: none;
        }

        .bookingAgentFormControlBorder {
            border: 2px solid gray;
            text-align: left;
            padding-left: 2px;
            color: #000000;
            font-size: 0.85em;
            font-weight: normal;
            min-height: 35px;
        }

         .label_vertical_alignment {
             position: relative;
             top: 10px;
         }

        .container_box {
            border: 2px solid gray;
            padding-left: 20px;
            min-height: 800px;
            font-size: 0.85em;
        }

        .mid_container_text {
            font-size: 0.85em;
        }

        .divider_height {
            height: 20px;
        }


        .bookingAgentFormControlBorder {
            border: 2px solid gray;
            text-align: left;
            padding-left: 2px;
            color: #000000;
            font-size: 0.85em;
            font-weight: normal;
            min-height: 50px;
            overflow-x: auto;
        }

        #toolbar {
            margin: 10px 0px 20px 0px;
            width: 174px;
            border: none;
            background: none;
            position: relative;
        }

        #toolbar a {
            display: inline-block;
            height: 35px;
            text-decoration: none;
            padding: 5px;
            color: #666;
            border: 1px solid #aaa;
            background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e2e2e2));
            background: -webkit-linear-gradient(top, #fafafa 0%, #e2e2e2);
            background: -moz-linear-gradient(top, #fafafa 0%, #e2e2e2);
            background: -ms-linear-gradient(top, #fafafa 0%, #e2e2e2);
            background: -o-linear-gradient(top, #fafafa 0%, #e2e2e2);
            background: linear-gradient(top, #fafafa 0%, #e2e2e2);
            filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#fafafa", endColorStr="#e2e2e2");
        }
    </style>
    @Styles.Render("~/bundles/css/daypilot")
    @Styles.Render("~/bundles/css/default")
    @Styles.Render("~/bundles/css/bootstrap3.0")
    @RenderSection("styles", required: false)


    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/daypilot")
    @RenderSection("immediateScripts", required: false)

</head>
<body style="padding: 10px; width:540px;">
    @RenderBody()

    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/common")
    @RenderSection("scripts", required: false)
</body>
</html>
