@using Data.States
@using Microsoft.Ajax.Utilities
@model KwasantWeb.ViewModels.DashboardShowVM
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@{
    ViewBag.Title = "Event ";
}
@section styles{
    @Styles.Render("~/bundles/css/daypilot")
}
@section immediateScripts
{
    @Scripts.Render("~/bundles/js/daypilot")
    @Scripts.Render("~/bundles/js/kwasantcalendar")
    @Scripts.Render("~/bundles/js/kwasantpopup")

    <script src="~/Scripts/DataTables-1.10.0/media/js/jquery.dataTables.js"></script>
    <link href="~/Content/DataTables-1.10.0/media/css/jquery.dataTables.css" rel="stylesheet" />
}
@section scripts
{
    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/common")
}
<script type="text/javascript">
    document.body.style.overflowY = 'scroll';
    var calendar;
    var dp_navigator, storedCalendar;
    var linkedNegotiationID = @Html.Raw(Model.CalendarVM.LinkedNegotiationID == null ? "null" : Model.CalendarVM.LinkedNegotiationID.ToString())
</script>

<div class="jumbotron calendar-section jumbotron_new">
    <div class="row">
        <nav class="navbar navbar-default top-toolbar-section" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a id="btnBookingRequest">BookingRequest</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Get All", "Index", "BookingRequest")</li>
                            </ul>
                        </li>
                        <li class="dropdown"><a id="btnUser">User</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Get All", "Index", "User") </li>
                                <li><a id="btnProcessed" onclick="updateStatus('@Url.Action("MarkAsProcessed", "BookingRequest", new { id = Model.BookingRequestVM.BookingRequestId })');" href="#">Mark Processed</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a id="btnNegotiation">Negotiation</a>
                            <ul class="dropdown-menu">
                                <li><a id="liReview" onclick="getCurrentNegotiationReview(); " href="#">Review</a></li>
                                <li><a id="liCreateOrEditNegotiation" onclick="getNegotiationWindow();" data-value='@(Model.CalendarVM.LinkedNegotiationID == null ? "Create" : "Edit")' href="#">@(Model.CalendarVM.LinkedNegotiationID == null ? "Create" : "Edit")</a></li>
                                <li id="liResolveNegotiation"><a onclick="resolveActiveNegotiation(linkedNegotiationID);" href="#">Mark Resolved</a></li>
                            </ul>
                        </li>
                    @{
                        if (Model.ResolvedNegotiations != null && Model.ResolvedNegotiations.Any())
                        {
                            <li class="dropdown">
                                <a>Resolved negotiations</a>
                                <ul class="dropdown-menu">
                                    @foreach (var negotiation in Model.ResolvedNegotiations)
                                    {

                                        <li><a onclick="getNegotiationReview(@negotiation.Id);" href="#">@negotiation.Name</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    }
                        <li class="dropdown"><a id="btnReport">Reports</a>
                            <ul class="dropdown-menu">
                                <li><a id="btnHistory" onclick="HistoryClick(@Model.BookingRequestVM.BookingRequestId);" class="btnHistory" href="#">Show History</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div id="notificationGroup">
            <div class="col-md-7" style="margin-top: -25px; margin-bottom: 5px; text-align: left; padding-left: 1px;">
                <div id="notificationMessage" style="background: #f8f8f8 !important; color: #d85e17; font-size: 16px; padding-left: 15px; font-size: 16px; font-weight: bold;">
                </div>
            </div>
            <div class="col-md-5">
            </div>
        </div>

        <!-- Booking Request Info View here -->
        @Html.Partial("../BookingRequest/Administer", Model.BookingRequestVM)
        <!-- Calendar Partial view here -->
        @Html.Partial("../Calendar/Edit", Model.CalendarVM)

    </div>
</div>
