@model Shnexy.Controllers.CalendarController.ConfirmInfo
@{ Layout = "~/Views/Shared/_Blank.cshtml"; }

<header>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</header>
<form id="f" method="post" action="@Url.Action("New")">
    <h3>Confirm Changes</h3>
    <hr />
    <div>You are @{ Write(Model.IsNew ? "creating a new" : "editting an existing"); } Event.</div>
    <div>Location: @Model.Event.Location</div>
    <div>Description: @Model.Event.Description</div>
    <div>Summary: @Model.Event.Summary</div>
    @{
        <div style="display:none">
            @Html.TextBox("Key", @Model.Key, new { @class = "form-control col-md-1" })
        </div>
    }
    <hr />
    <div class="space">
        <div style="clear:both">
            <div style="float:left">
                <input id="btnSave" type="submit" value="CONFIRM" style="width: 100px; height: 30px; border: 2px solid black; margin-right:20px" onclick="return Validate()" />
            </div>
            <div style="float:left">
                <a href="javascript:close()"><div style="width: 100px;">REJECT</div></a>
            </div>
        </div>
        <br />
        <br />
    </div>
</form>

<script type="text/javascript">
    function close(result) {
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(result);
        }
    }

    $("#f").submit(function () {
        var f = $("#f");
        $.post(f.action, f.serialize(), function (result) {
            close(eval(result));
        });
        return false;
    });
</script>