@using Data.Constants
@model Data.Models.InvitationDO
@{ Layout = "~/Views/Shared/_Blank.cshtml"; }

<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<form id="f" method="post" style="margin:10px" action="@Url.Action("ConfirmDelete")">
    <h3>Confirm Delete</h3>
    <hr />
    <div style="color:red">You are about to delete the following event</div>
    <div style="@Html.Raw(Model.IsAllDay ? String.Empty : "display:none;")">
        <div>* All day event *</div>
    </div>
    <div style="@Html.Raw(Model.IsAllDay ? "display:none;" : String.Empty)">
        <div>Start Date: @Model.StartDate</div>
        <div>End Date: @Model.EndDate</div>
    </div>
    <div>Location: @Model.Location</div>
    <div>Summary: @Model.Summary</div>
    <div>Description: @Model.Description</div>
    <div>Attendees: @String.Join(", ", Model.Attendees.Select(a => a.Name + " (" + a.EmailAddress + ")"))</div>
    
    <hr />
    <div class="space">
        <div style="clear:both">
            <div style="float:left">
                <input id="btnSave" type="submit" value="CONFIRM" style="width: 100px; height: 30px; border: 2px solid black; margin-right:20px" />
            </div>
            <div style="float:left">
                <a href="javascript:close()"><div style="width: 100px;">REJECT</div></a>
            </div>
        </div>
        <br />
        <br />
    </div>
</form>

<script type="text/javascript">
    function close(result) {
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(result);
        }
    }

    $(function () {
        $("#f").submit(function () {
            var f = $("#f");
            $.get(f.prop('action'), { invitationID: @Model.InvitationID }, function(result) {
                close(result);
            }, 'json');
            return false;
        });
    });
</script>