@using DayPilot.Web.Mvc
@using DayPilot.Web.Mvc.Enums
@using DayPilot.Web.Mvc.Enums.Calendar
@using DayPilot.Web.Mvc.Events.Calendar
@using ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType
@model Data.Entities.EmailDO
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@{
    ViewBag.Title = "Event ";
}
@section styles{
    <style type="text/css">
        body
        {
            padding-bottom: 20px;
            padding-top: 50px;
        }

        /* Set padding to keep content from hitting the edges */

        .body-content
        {
            padding-left: 15px;
            padding-right: 15px;
        }

        /* Set width on the form input elements since they're 100% wide by default */

        input,
        select,
        textarea
        {
            max-width: 280px;
        }

        /* styles for validation helpers */

        .field-validation-error
        {
            color: #b94a48;
        }

        .field-validation-valid
        {
            display: none;
        }

        input.input-validation-error
        {
            border: 1px solid #b94a48;
        }

        input[type="checkbox"].input-validation-error
        {
            border: 0 none;
        }

        .validation-summary-errors
        {
            color: #b94a48;
        }

        .validation-summary-valid
        {
            display: none;
        }

        .bookingAgentFormControlBorder
        {
            border: 2px solid gray;
            color: #000000;
            font-size: 0.85em;
            font-weight: normal;
            min-height: 35px;
            padding-left: 2px;
            text-align: left;
        }

        .label_vertical_alignment
        {
            position: relative;
            top: 10px;
        }

        .container_box
        {
            border: 2px solid gray;
            min-height: 800px;
            padding-left: 20px;
        }

        .mid_container_text
        {
            font-size: 0.85em;
        }

        .divider_height
        {
            height: 20px;
        }

        .bookingAgentFormControlBorder
        {
            border: 2px solid gray;
            color: #000000;
            font-size: 0.85em;
            font-weight: normal;
            min-height: 50px;
            overflow-x: auto;
            padding-left: 2px;
            text-align: left;
        }

        #toolbar
        {
            background: none;
            border: none;
            margin: 10px 0px 20px 0px;
            position: relative;
            width: 174px;
        }

            #toolbar a
            {
                background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e2e2e2));
                background: -webkit-linear-gradient(top, #fafafa 0%, #e2e2e2);
                background: -moz-linear-gradient(top, #fafafa 0%, #e2e2e2);
                background: -ms-linear-gradient(top, #fafafa 0%, #e2e2e2);
                background: -o-linear-gradient(top, #fafafa 0%, #e2e2e2);
                background: linear-gradient(top, #fafafa 0%, #e2e2e2);
                border: 1px solid #aaa;
                color: #666;
                display: inline-block;
                filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#fafafa", endColorStr="#e2e2e2");
                height: 35px;
                padding: 5px;
                text-decoration: none;
            }

        .activeRequest
        {
            background-color: #aaa;
        }
    </style>
    @Styles.Render("~/bundles/css/daypilot")
    @Styles.Render("~/bundles/css/default")
    @Styles.Render("~/bundles/css/bootstrap30")
}
@section immediateScripts
{
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/daypilot")
    <script src="/Content/js/Kwasant/Popup.js"></script>
}
@section scripts
{
    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/common")
}

<div class="jumbotron" style="padding-left: 20px; padding-right: 20px; width: 1270px;">
    <div class="row">
        <div id="emailInfoBox" class="col-md-4 container_box" style="border: none; height: 100%; padding: 0px; width: 420px;">
            <a id="btnProcessed" href="@Url.Action("SetStatus", "BookingRequest", new { id = Model.Id, targetStatus = "processed" })">
                <button style="width: 120px; font-size: 14px; height: 40px;">Mark Processed</button></a><br />
            <br />
            <iframe id="frminfo" src="/Api/GetEmailHTML.aspx?emailID=@Model.Id" style="border: none; height: auto;min-height:300px; margin-top: -7px; width: 100%;"></iframe>
            <table style="box-shadow: #000 0px 0px 10px; margin: 10px; width: 95%;" role="grid">
                <thead>
                    <tr role="row">
                        <th style="width: 30%; text-align: center; font-size: 14px;">Date Received</th>
                        <th style="width: 70%; text-align: center; font-size: 14px;">Subject</th>
                    </tr>
                </thead>
                <tbody id="tbluserrequests" style="border-top: 1px solid grey;">
                </tbody>
            </table>
        </div>

        <div id="divCalender" class="col-md-6 container_box" style="padding-bottom: 79px;">
            <div class="row">
                <div id="toolbar" style="font-size: 12px; width: 100%;">
                    <a href="#" id="toolbar_day">Day</a>
                    <a href="#" id="toolbar_week">Week</a>
                    <a href="#" id="toolbar_month">Month</a>
                </div>
            </div>
            <div class="row">
                <div style="padding-right: 5px">
                    @Html.DayPilotMenu("menu1", new DayPilotMenuConfig
                    {
                        Items = new MenuItemCollection
                        {
                            new MenuItem {Text = "Delete", Action = MenuItemAction.JavaScript, JavaScript = "eventDelete(e)"}
                        }
                    })

                    @Html.DayPilotMenu("menu2", new DayPilotMenuConfig
                    {
                        Items = new MenuItemCollection
                        {
                            new MenuItem {Text = "Open", Action = MenuItemAction.JavaScript, JavaScript = "alert(e.value());"}
                        }
                    })

                    @Html.DayPilotBubble("bubble")

                    @Html.DayPilotCalendar("dp_day", new DayPilotCalendarConfig
                    {
                        BackendUrl = Url.Content("~/Calendar/Day?bookingRequestID=" + Model.Id),
                        EventMoveHandling = EventMoveHandlingType.JavaScript,
                        EventResizeHandling = EventResizeHandlingType.JavaScript,
                        TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
                        EventClickHandling = EventClickHandlingType.JavaScript,
                        HeaderClickHandling = HeaderClickHandlingType.JavaScript,
                        EventDeleteHandling = EventDeleteHandlingType.JavaScript,
                        EventBackColor = "#638EDE",
                        DurationBarVisible = false,
                        EventHeaderVisible = false,
                        Height = 550,
                        HeaderHeight = 50,
                        CellHeight = 25,
                        CssOnly = false,
                        ContextMenu = "menu1",
                        Theme = "calendar_white",
                        ViewType = ViewType.Day,
                        EventClickJavaScript = "eventClick(e)",
                        EventMoveJavaScript = "eventMove(e, newStart, newEnd)",
                        EventResizeJavaScript = "eventMove(e, newStart, newEnd)",
                        TimeRangeSelectedJavaScript = "eventNew(start, end, resource)",
                        EventDeleteJavaScript = "eventDelete(e)",
                    })

                    @Html.DayPilotCalendar("dp_week", new DayPilotCalendarConfig
                    {

                        ViewType = ViewType.Week,
                        BackendUrl = Url.Content("~/Calendar/Backend?bookingRequestID=" + Model.Id),
                        
                        EventMoveHandling = EventMoveHandlingType.JavaScript,
                        EventResizeHandling = EventResizeHandlingType.JavaScript,
                        TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
                        EventClickHandling = EventClickHandlingType.JavaScript,
                        HeaderClickHandling = HeaderClickHandlingType.JavaScript,
                        EventDeleteHandling = EventDeleteHandlingType.JavaScript,
                        EventBackColor = "#638EDE",
                        DurationBarVisible = false,
                        EventHeaderVisible = false,
                        ShowAllDayEvents = true,
                        AllowMultiSelect = true,
                        Height = 550,
                        HeaderHeight = 30,
                        HeaderFontSize = "12px",
                        CssOnly = false,
                        Theme = "calendar_white",
                        HeightSpec = HeightSpec.BusinessHours,
                        EventBubble = "bubble",
                        EventClickJavaScript = "eventClick(e)",
                        EventMoveJavaScript = "eventMove(e, newStart, newEnd)",
                        EventResizeJavaScript = "eventMove(e, newStart, newEnd)",
                        TimeRangeSelectedJavaScript = "eventNew(start, end, resource)",
                        EventDeleteJavaScript = "eventDelete(e)",
                        ContextMenu = "menu1",
                        HeaderClickJavaScript = "alert('Day clicked: ' + c.date);"
                    })

                    @Html.DayPilotMonth("dp_month", new DayPilotMonthConfig
                    {
                        BackendUrl = Url.Content("~/Calendar/Month?bookingRequestID=" + Model.Id),
                        EventMoveHandling = DayPilot.Web.Mvc.Events.Month.EventMoveHandlingType.JavaScript,
                        EventResizeHandling = DayPilot.Web.Mvc.Events.Month.EventResizeHandlingType.JavaScript,
                        TimeRangeSelectedHandling = DayPilot.Web.Mvc.Events.Month.TimeRangeSelectedHandlingType.JavaScript,
                        EventClickHandling = DayPilot.Web.Mvc.Events.Month.EventClickHandlingType.JavaScript,
                        HeaderClickHandling = DayPilot.Web.Mvc.Events.Month.HeaderClickHandlingType.JavaScript,
                        EventFontSize = "10px",
                        HeaderFontSize = "12px",
                        CellHeight = 90,
                        HeaderHeight = 50,
                        EventHeight = 50,
                        Height = "550",
                        CssOnly = false,
                        ContextMenu = "menu1",
                        Theme = "calendar_white",
                        EventClickJavaScript = "eventClick(e)",
                        EventMoveJavaScript = "eventMove(e, newStart, newEnd)",
                        EventResizeJavaScript = "eventMove(e, newStart, newEnd)",
                        TimeRangeSelectedJavaScript = "eventNew(start, end)",
                    })
                </div>

            </div>
        </div>

        <div class="col-lg-2 container_box" style="float: left; padding-bottom: 101px; padding-top: 53px; position: relative;">
            @Html.DayPilotNavigator("dp_navigator", new DayPilotNavigatorConfig
            {
                CssOnly = true,
                Theme = "navigator_white",
                ShowMonths = 1
            })
        </div>

    </div>
</div>
<div class="row">
    @Html.ActionLink("Back to booking requests", "Index", "BookingRequest")
</div>
<div class="row">
    @Html.ActionLink("Show Users", "Index", "User")
</div>
<input type="hidden" value="@Model.Id" id="hdnrequestid" name="requestid"/>

<script type="text/javascript">

    $("#toolbar_day").click(function () {
        $("#divCalender").css("padding-bottom", "79px");
    });

    $("#toolbar_week").click(function () {
        $("#divCalender").css("padding-bottom", "170px");
    });

    $("#toolbar_month").click(function () {
        $("#divCalender").css("padding-bottom", "79px");
    });

    var switcher = new DayPilot.Switcher();

    switcher.addView(dp_day);
    switcher.addView(dp_week);
    switcher.addView(dp_month);

    switcher.addButton("toolbar_day", dp_day);
    switcher.addButton("toolbar_week", dp_week);
    switcher.addButton("toolbar_month", dp_month);

    switcher.addNavigator(dp_navigator);

    switcher.show(dp_day);

    function eventClick(e) {
        if (checkactivewindow()) { return false; }
        Kwasant.IFrame.Display('/Event/Edit/?eventID=' + e.id(),
            {
                horizontalAlign: 'right',
                callback: refresh
            });
    }

    function eventNew(start, end) {
        if (checkactivewindow()) { return false; }
        var id = $("#hdnrequestid").val();
        Kwasant.IFrame.Display('/Event/New/?bookingRequestID=' + id + '&start=' + start + 'z&end=' + end + 'z',
            {
                horizontalAlign: 'right',
                callback: refresh
            });
    }

    function eventMove(e, newStart, newEnd) {
        if (checkactivewindow()) { return false; }
        Kwasant.IFrame.Display('/Event/MoveEvent/?eventID=' + e.id() + '&newStart=' + newStart + 'z&newEnd=' + newEnd + 'z',
            {
                modal: true,
                callback: refresh
            });
    }

    function eventDelete(e) {
        Kwasant.IFrame.Display('/Event/DeleteEvent/?eventID=' + e.id(),
            {
                modal: true,
                callback: refresh
            });
    }

    function refresh(result) {
        var daypilotControls = [
                        dp_day,
                        dp_week,
                        dp_month
        ];
        if (result) {
            $.each(daypilotControls, function (i, ele) {
                ele.commandCallBack('refresh');
            });
        }
        $.each(daypilotControls, function (i, ele) {
            ele.clearSelection('refresh');
        });
    }

    function checkactivewindow() {
        var isanyactivewindow = false;
        $(document).find("iframe").each(function () {
            if ($(this).attr("style").indexOf("z-index") > 0) {
                if ($(this).attr("style").indexOf("display: none") < 0) {
                    isanyactivewindow = true;
                }
            }
        });
        return isanyactivewindow;
    }

    //funtion to load booking request info in iframe "frminfo" on "tbluserrequests" request row click.
    //called by : rows in tbluserrequests on click
    function loadrequest(id, ele) {
        $("#tbluserrequests tr").attr("class", "");
        $(ele).attr("class", "activeRequest");
        $("#hdnrequestid").val(id);
        $("#btnProcessed").attr("href", "@Url.Action("SetStatus", "BookingRequest", new { id = "requestid", targetStatus = "processed" })".replace("requestid", id));
        $("#frminfo")[0].contentWindow.location.replace("/Api/GetEmailHTML.aspx?emailID=" + id);
        dp_day.backendUrl = "@Url.Content("~/Calendar/Day?bookingRequestID=")" + id;
        dp_week.backendUrl = "@Url.Content("~/Calendar/Backend?bookingRequestID=")" + id;
        dp_month.backendUrl = "@Url.Content("~/Calendar/Month?bookingRequestID=")" + id;
        refresh(true);
    }

    //Document ready function, will run after page is ready and all elements are loaded.
    $(document).ready(function () {
        //Ajax call to get all unprocessed booking request from server according to user.
        $.getJSON("@Url.Action("GetBookingRequests", "BookingRequest")", { id: "@Model.Id" }, showRequests);

        //Parsing and binding the retrieved booking requests
        function showRequests(response) {
            var result = JSON.parse(response);

            //Iterating each object in response result
            $(result).each(function () {
                //Converting in appropriate date format
                var date = new Date(this.date_received);
                date = (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear();
                //appending each request row in table "tbluserrequests"
                if ("@Model.Id" != this.id) {
                    $("#tbluserrequests").append("<tr onclick='javascript:loadrequest(" + this.id + ",this);' style='border-bottom:1px solid grey;cursor:pointer;'><td>" + date + "</td><td>" + this.subject + "</td></tr>");
                }
                else {
                    $("#tbluserrequests").append("<tr onclick='javascript:loadrequest(" + this.id + ",this);' style='border-bottom:1px solid grey;cursor:pointer;' class='activeRequest'><td>" + date + "</td><td>" + this.subject + "</td></tr>");
                }
            });
        }
    });

</script>
