@model Data.Models.EmailDO
@using DayPilot.Web.Mvc
@using DayPilot.Web.Mvc.Enums
@using DayPilot.Web.Mvc.Enums.Calendar
@using DayPilot.Web.Mvc.Events.Calendar

@{
    ViewBag.Title = "Event ";
}

<header>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.1.min.js")"></script>
    <script type="text/javascript">
        function eventClick(e) {
            var m = new DayPilot.Modal();
            m.closed = function() {
                if (this.result == "OK") {
                    dpcg.commandCallBack('refresh');
                }
                dpcg.clearSelection();
            };


            var url = getBaseCalendarURL() + '/Open/?eventID=' + e.id();
            m.showUrl(url);
        }

        function eventMove(e, newStart, newEnd) {
            var requiresConfirmURL = getBaseCalendarURL() + '/RequiresConfirmationForMove';
            $.get(
                requiresConfirmURL,
                { eventID: e.id() },
                function(requiresConfirm) {
                    var url;
                    if (requiresConfirm) {
                        var m = new DayPilot.Modal();
                        m.closed = function() {
                            if (this.result == "OK") {
                                dpcg.commandCallBack('refresh');
                            }
                            dpcg.clearSelection();
                        };

                        url = getBaseCalendarURL() + '/MoveEvent/?eventID=' + e.id() + '&newStart=' + newStart + '&newEnd=' + newEnd;
                        m.showUrl(url);
                    } else {
                        url = getBaseCalendarURL() + '/MoveEventNoConfirm';
                        $.get(url, {
                                eventID: e.id(),
                                newStart: newStart.value,
                                newEnd: newEnd.value
                            }, function(update) {
                                if (update == "OK") {
                                    dpcg.commandCallBack('refresh');
                                }
                                dpcg.clearSelection();
                            }, 'json');
                    }
                },
                'json'
            );
        }

        function eventDelete(e) {
            var requiresConfirmURL = getBaseCalendarURL() + '/RequiresConfirmation';
            $.get(
                requiresConfirmURL,
                { eventID: e.id() },
                function(requiresConfirm) {
                    var url;
                    if (requiresConfirm) {
                        var m = new DayPilot.Modal();
                        m.closed = function() {
                            if (this.result == "OK") {
                                dpcg.commandCallBack('refresh');
                            }
                            dpcg.clearSelection();
                        };

                        url = getBaseCalendarURL() + '/DeleteEvent/?eventID=' + e.id();
                        m.showUrl(url);
                    } else {
                        url = getBaseCalendarURL() + '/DeleteEventNoConfirm';
                        $.get(url, {
                                eventID: e.id(),
                            }, function(update) {
                                if (update == "OK") {
                                    dpcg.commandCallBack('refresh');
                                }
                                dpcg.clearSelection();
                            }, 'json');
                    }
                },
                'json'
            );
        }

    </script>
</header>


<div class="jumbotron">    
    <div class="row" style="font-size: 0.85em;">
        <div id="emailInfoBox" class="col-md-5 container_box">
            <br />

            <div class="row">
                <div class="col-md-2 label_vertical_alignment">
                    <div>From:</div>
                </div>
                <div class="col-md-9 label_vertical_alignment">
                    <div class="bookingAgentFormControlBorder">@Html.DisplayFor(model => model.From.Address)</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 divider_height">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 label_vertical_alignment">
                    <div>Subject:</div>
                </div>
                <div class="col-md-9 label_vertical_alignment">
                    <div class="bookingAgentFormControlBorder">@Html.DisplayFor(model => model.Subject)</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 divider_height">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 label_vertical_alignment">
                    <div>To:</div>
                </div>
                <div class="col-md-9">
                    <div class="bookingAgentFormControlBorder">
                        @{
                            string toEmailAddresses = String.Join(",", Model.To.Select(a => a.Address));

                            <span>@toEmailAddresses</span>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 divider_height">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 label_vertical_alignment">
                    <div>CC:</div>
                </div>
                <div class="col-md-9">
                    <div class="bookingAgentFormControlBorder">
                        @{
                            string cCEmailAddresses = String.Join(",", Model.CC.Select(a => a.Address));

                            <span>@cCEmailAddresses</span>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 divider_height">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 label_vertical_alignment">
                    <div>Bcc:</div>
                </div>
                <div class="col-md-9">
                    <div class="bookingAgentFormControlBorder">
                        @{
                            string bCCEmailAddresses = String.Join(",", Model.BCC.Select(a => a.Address));

                            <span>@bCCEmailAddresses</span>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 divider_height">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 label_vertical_alignment">
                    <div>Body:</div>
                </div>
                <div class="col-md-9">
                    <div style="height: 200px" class="bookingAgentFormControlBorder">
                        @Html.DisplayFor(model => model.Text)                        
                    </div>                    
                </div>
            </div>

            <br />
        </div>
        <div class="col-md-7 container_box">
            <div class="row">
                @Html.DayPilotMenu("menu1", new DayPilotMenuConfig
                {
                    Items = new MenuItemCollection()
                    {
                        new MenuItem { Text = "Delete", Action = MenuItemAction.JavaScript, JavaScript = "eventDelete(e)"}
                    }
                })

                @Html.DayPilotMenu("menu2", new DayPilotMenuConfig
                {
                    Items = new MenuItemCollection()
                    {
                        new MenuItem { Text = "Open", Action = MenuItemAction.JavaScript, JavaScript = "alert(e.value());"}
                    }
                })

                @Html.DayPilotBubble("bubble")

                @Html.DayPilotCalendar("dpcg", new DayPilotCalendarConfig
                {
                    ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
                    BackendUrl = Url.Content("~/Calendar/Backend/"),
                    EventMoveHandling = EventMoveHandlingType.JavaScript,
                    EventResizeHandling = EventResizeHandlingType.JavaScript,
                    TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.CallBack,
                    EventClickHandling = EventClickHandlingType.JavaScript,
                    HeaderClickHandling = HeaderClickHandlingType.JavaScript,
                    EventDeleteHandling = EventDeleteHandlingType.JavaScript,	
                        
                ShowAllDayEvents = true,
                    Height = 630,
                    HeightSpec = HeightSpec.BusinessHours,
                    EventBubble = "bubble",
                    EventClickJavaScript = "eventClick(e)",
                    EventMoveJavaScript = "eventMove(e, newStart, newEnd)",
                    EventResizeJavaScript = "eventMove(e, newStart, newEnd)",
                    EventDeleteJavaScript = "eventDelete(e)",
                    ContextMenu = "menu1",
                    HeaderClickJavaScript = "alert('Day clicked: ' + c.date);"
                })
            </div>
            <br />
            <div class="Row" style="height:179px;">
                
            </div>
        </div>
    </div>
</div>
<div class="row">
    @Html.ActionLink("Back to booking requests", "Index", "Email")
</div>
<div class="row">
    @Html.ActionLink("Show Users", "Index", "User")
</div>
