@model Data.Models.EventDO
@{ Layout = "~/Views/Shared/_Blank.cshtml"; }

<header>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            //function validate() {
            //    if ($("#divName").val().trim() == '') {
            //        $("#divName").val("Name is required.");
            //        return false;
            //    }
            //}
        });

        /* Wild Char Check Start*/
        function checkWildCar(texBox, IsNoteType) {
            var oTextBox = document.getElementById(texBox);

            var specialChars = "!@@#$^&%*()+=-[]\/{}|:<>?,.";

            for (var i = 0; i < specialChars.length; i++) {
                if (IsNoteType) {
                    oTextBox.value = oTextBox.value.replace(/[^\w\,\s\.\#\-]/gi, '')
                }
                else {
                    oTextBox.value = oTextBox.value.replace(/[^\w\s\.]/gi, '')
                }
            }
        }

        function Validate() {

            var bFlag = false;

            var name = document.getElementById('Name');
            var dName = document.getElementById('divName');

            if (name != null) {
                if (name.value.trim() == '') {
                    dName.innerHTML = 'Name is required.';
                    bFlag = false;
                }
                else {
                    dName.innerHTML = '';
                    bFlag = true;
                }
            }

            var location = document.getElementById('Location');
            var dLocation = document.getElementById('divLocation');

            if (location != null) {
                if (location.value.trim() == '') {
                    dLocation.innerHTML = 'Location is required.';
                    bFlag = false;
                }
                else {
                    dLocation.innerHTML = '';
                    bFlag = true;
                }
            }

            return bFlag;
        }

    </script>
</header>
<form id="f" method="post" action="@Url.Action("BeforeSave")">
    <h3>New Event</h3>
    <hr />

    <div>Location</div>
    <div>
        @Html.TextBox("Location", String.Empty, new { @class = "form-control col-md-1" })
        <div id="divLocation"></div>
    </div>
    <br />
    <div>Description</div>
    <div>@Html.TextArea("Description", String.Empty, 5, 31, new { @class = "form-control col-md-1" })</div>
    @{
        List<SelectListItem> itemsPriority = new List<SelectListItem>();

        itemsPriority.Add(new SelectListItem { Text = "--Select--", Value = "0", Selected = true });
        itemsPriority.Add(new SelectListItem { Text = "High", Value = "1" });
        itemsPriority.Add(new SelectListItem { Text = "Medium", Value = "2" });
        itemsPriority.Add(new SelectListItem { Text = "Low", Value = "3" });
    }
    <br />
    <div>Priority</div>
    <div style="width:200px">@Html.DropDownList("Priority", itemsPriority, new { @class = "form-control col-md-1" })</div>
    <br />
    <div>Summary</div>
    <div>@Html.TextArea("Summary", String.Empty, 5, 31, new { @class = "form-control col-md-1" })</div>
    <br />
    @{
        <div style="display:none">
            @Html.TextBox("EventID", @Model.EventID, new { @class = "form-control col-md-1" })
            @Html.TextBox("DateStart", @Model.StartDate, new { @class = "form-control col-md-1" })
            @Html.TextBox("DateEnd", @Model.EndDate, new { @class = "form-control col-md-1" })
        </div>
    }
    <hr />
    <div class="space">
        <div style="clear:both">
            <div style="float:left">
                <input id="btnSave" type="submit" value="OK" style="width: 100px; height: 30px; border: 2px solid black; margin-right:20px" onclick="return Validate()" />
            </div>
            <div style="float:left">
                <a href="javascript:close()"><div style="width: 100px;">Cancel</div></a>
            </div>
        </div>
        <br />
        <br />
    </div>
</form>

<script type="text/javascript">
    function close(result) {
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(result);
        }
    }

    $("#f").submit(function () {
        var f = $("#f");
        $.post(f.prop('action'), f.serialize(), function (result) {
            var m = new parent.DayPilot.Modal();
            m.closed = function () {
                if (this.result == "OK") {
                    close();
                }
            };

            m.showHtml(result);

        });
        return false;
    });

    $(document).ready(function () {
        $("#Location").focus();

        $("Location").blur(function () {
            //var oTextBox = document.getElementById('Location');
            //checkWildCar(oTextBox, false);
        });

    });

</script>
