@model Data.Entities.EventDO
@{ Layout = "~/Views/Shared/_Blank.cshtml"; }

<header>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Media/select2.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Scripts/select2.js"> </script>

    <!-- jQuery.Validate -->
    <script type="text/javascript" src="/Scripts/jquery.validate.js"> </script>

    <!-- bootstrap -->
    <script type="text/javascript" src="/Scripts/bootstrap.js"> </script>

    <!-- bootstrap.datetimepicker -->
    <script type="text/javascript" src="/Scripts/moment.js"> </script>
    <script type="text/javascript" src="/Scripts/bootstrap-datetimepicker.js"> </script>
    <link href="/Content/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />

    <style>
        .glyphicon-calendar:before
        {
            content: "\e109"; /* This was broken in the bootstrap css...?? */
        }

        .formItem
        {
            display: inline-flex;
            width: 100%;
            padding-top: 15px;
        }

        .formLabel
        {
            width: 100px;
            min-width: 100px;
            padding-top: 5px;
        }
    </style>

    <script type="text/javascript">
        var hideShowDates = function () {
            var fromDate = $('#fromDate');
            var toDate = $('#toDate');

            if ($('#chkAllDay').attr('checked')) {
                fromDate.data("DateTimePicker").disable();
                toDate.data("DateTimePicker").disable();
            } else {
                fromDate.data("DateTimePicker").enable();
                toDate.data("DateTimePicker").enable();
            }
        };

        $(document).ready(function () {
            $('#chkAllDay').click(hideShowDates);

            var data = [@Html.Raw(String.Join(",", Model.Attendees.Select(a =>
                            "{id: '" + a.EmailAddress + "', text: '" + a.EmailAddress + "'}"
                            )))];

            $('#attendeesSel').select2({
                createSearchChoice: function (term) {
                    return { id: term, text: term };
                },
                validateFormat: function (term) {
                    var atPos = term.indexOf('@@');
                    var dotPos = term.lastIndexOf('.');
                    if (atPos < 1 || (dotPos - atPos < 2) || (term.length - 2 <= dotPos)) {
                        return "Invalid Email";
                    }
                    return null;
                },
                multiple: true,
                data: [],
                width: '100%',
            });
            $('#attendeesSel').select2('data', data);
        });
    </script>
</header>
<form id="f" method="post" action="@Url.Action("ProcessCreateEvent")">
    <div class="dragger">
        <h3>
            @Html.Raw(Model.Id == 0 ? "New Event" : "Editing Event")
        </h3>
    </div>
    <hr />
    <div class="formItem">
        <div class="formLabel">
            Summary
        </div>
        <input id="summary" name="Summary" class="form-control col-md-1" value="@Model.Summary" required />
    </div>
    <div class="formItem">
        <div class="formLabel">
            When
        </div>
        <label style="padding-top: 5px;">
            <input id="chkAllDay" type="checkbox" name="IsAllDay" @Html.Raw(Model.IsAllDay ? "checked='checked'" : String.Empty) />
            All day event
        </label>
    </div>
    <div id="dateGroup" class="formItem" style="padding-top: 10px;">
        <div class="formLabel">
            <!-- Align the date pickers -->
        </div>
        <div class='col-md-4' style="padding-left: 0; padding-right: 5px;">
            <div class='input-group date' id='fromDate' data-date-format="MM/DD/YYYY hh:mm a">
                <input type='text' name="DateStart" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class='col-md-4' style="padding-left: 4px;">
            <label style="padding-top: 6px; font-weight: normal">to</label>
        </div>
        <div class='col-md-4' style="padding-right: 0; padding-left: 5px;">
            <div class='input-group date' id='toDate' data-date-format="MM/DD/YYYY hh:mm a">
                <input type='text' name="DateEnd" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="formItem">
        <div class="formLabel">
            Location
        </div>
        <input id="location" name="Location" class="form-control col-md-1" value="@Model.Location" required />
    </div>

    <div class="formItem">
        <div class="formLabel">
            Description
        </div>
        <textarea id="description" name="Description" cols="31" rows="3" class="form-control col-md-1" required>@Html.Raw(Model.Description)</textarea>
    </div>

    <div class="formItem">
        <div class="formLabel">
            Attendees
        </div>
        <input type="hidden" name="Attendees" id="attendeesSel" />
    </div>
    @{
        <div style="display: none">
            @Html.TextBox("EventID", @Model.Id, new { @class = "form-control col-md-1" })
        </div>
    }
    <hr />
    <div class="space">
        <div style="clear: both">
            <div style="float: left">
                <input id="btnSave" type="submit" value="OK" style="border: 2px solid black; height: 30px; margin-right: 20px; width: 100px;" />
            </div>
            <div style="float: left">
                @*<a href="javascript:close()">*@
                <a href="javascript:checkunsaveddata();">
                    <div style="width: 100px;">Cancel</div>
                </a>
            </div>
        </div>
        <br />
        <br />
    </div>
</form>

<script type="text/javascript">
    var isunsaved = false;
    function checkunsaveddata() {
        if (!isunsaved) {
            close();
        }
        else {
            if (confirm("you are about to lose data, continue?")) {
                isunsaved = false;
                close();
            } else { return false; }
        }
    }

    $(document).ready(function () {
        $(".dragger").mouseenter(function (e) {
            $('div[id*=popup]', window.parent.document).trigger("mousedown");
        });
        $(".dragger").mouseout(function (e) {
            $('div[id*=mask]', window.parent.document).remove();
        });
        $(".form-control").change(function () {
            isunsaved = true;
        });
    });

    function close(result) {
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(result);
        }
    }

    $("#f").submit(function () {
        var f = $("#f");
        if (!f.valid())
            return false;

        var fromDate = $('#fromDate');
        var toDate = $('#toDate');

        fromDate.data("DateTimePicker").enable();
        toDate.data("DateTimePicker").enable();

        var url = f.prop('action') + '/?' + f.serialize();
        var m = new parent.DayPilot.Modal();
        m.closed = function () {
            if ($('#chkAllDay').attr('checked')) {
                fromDate.data("DateTimePicker").disable();
                toDate.data("DateTimePicker").disable();
            } else {
                fromDate.data("DateTimePicker").enable();
                toDate.data("DateTimePicker").enable();
            }

            if (this.result == "OK") {
                close(this.result);
            }
        };

        m.showUrl(url);

        return false;
    });

    $(function () {
        $("#summary").focus();
        $('#f').validate();
    });

    $(function () {
        var fromDate = $('#fromDate');
        var toDate = $('#toDate');

        fromDate.datetimepicker();
        toDate.datetimepicker();

        $("#fromDate").on("dp.change", function (e) {
            toDate.data("DateTimePicker").setMinDate(e.date);
        });
        $("#toDate").on("dp.change", function (e) {
            fromDate.data("DateTimePicker").setMaxDate(e.date);
        });

        fromDate.data("DateTimePicker").setDate('@Model.StartDate.ToString("MM/dd/yyyy hh:mm tt")');
        toDate.data("DateTimePicker").setDate('@Model.EndDate.ToString("MM/dd/yyyy hh:mm tt")');

        hideShowDates();
    });

</script>
