@model Data.Models.EventDO
@{ Layout = "~/Views/Shared/_Blank.cshtml"; }

<header>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Media/select2.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/select2.js")"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var hideShowDates = function() {
                if ($('#chkAllDay').attr('checked')) {
                    $('#dateGroup').hide();
                } else {
                    $('#dateGroup').show();
                }
            };
            $('#chkAllDay').click(hideShowDates);
            hideShowDates();

            $('#attendeesSel').select2({
                createSearchChoice: function(term, data) {
                    return { id: term, text: term };
                },
                validateFormat: function(term) {
                    var atPos = term.indexOf('@@');
                    var dotPos = term.indexOf('.');
                    if (atPos < 1 || (dotPos - atPos < 2) || (term.length - 3 <= dotPos)) {
                        return "Invalid Email";
                    }
                    return null;
                },
                multiple: true,
                data: [],
                width: '100%',
            }).onSelect();
        });

        /* Wild Char Check Start*/
        function checkWildCar(texBox, IsNoteType) {
            var oTextBox = document.getElementById(texBox);

            var specialChars = "!@@#$^&%*()+=-[]\/{}|:<>?,.";

            for (var i = 0; i < specialChars.length; i++) {
                if (IsNoteType) {
                    oTextBox.value = oTextBox.value.replace(/[^\w\,\s\.\#\-]/gi, '');
                }
                else {
                    oTextBox.value = oTextBox.value.replace(/[^\w\s\.]/gi, '');
                }
            }
        }

        function Validate() {

            var bFlag = false;

            var name = document.getElementById('Name');
            var dName = document.getElementById('divName');

            if (name != null) {
                if (name.value.trim() == '') {
                    dName.innerHTML = 'Name is required.';
                    bFlag = false;
                }
                else {
                    dName.innerHTML = '';
                    bFlag = true;
                }
            }

            var location = document.getElementById('Location');
            var dLocation = document.getElementById('divLocation');

            if (location != null) {
                if (location.value.trim() == '') {
                    dLocation.innerHTML = 'Location is required.';
                    bFlag = false;
                }
                else {
                    dLocation.innerHTML = '';
                    bFlag = true;
                }
            }

            return bFlag;
        }

    </script>
</header>
<form id="f" method="post" action="@Url.Action("BeforeSave")">
    <h3>New Event</h3>
    <hr />

    <div>Location</div>
    <div>
        @Html.TextBox("Location", @Model.Location, new { @class = "form-control col-md-1" })
        <div id="divLocation"></div>
    </div>
    <br />
    <div>
        <div>
            <label><input id="chkAllDay" type="checkbox" name="IsAllDay" @Html.Raw(Model.IsAllDay ? "checked='checked'" : String.Empty) /> All day event</label>
        </div>
        <div id="dateGroup">
            <div>
                <label>Start @Html.TextBox("DateStart", @Model.StartDate, new { @class = "form-control col-md-1" })</label>
            </div>
            <div>
                <label>End @Html.TextBox("DateEnd", @Model.EndDate, new { @class = "form-control col-md-1" })</label>
            </div>
        </div>
    </div>
    <div>Description</div>
    <div>@Html.TextArea("Description", @Model.Description, 5, 31, new { @class = "form-control col-md-1" })</div>
    @{
        List<SelectListItem> itemsPriority = new List<SelectListItem>();

        itemsPriority.Add(new SelectListItem { Text = "--Select--", Value = "0", Selected = Model.Priority == 0 });
        itemsPriority.Add(new SelectListItem { Text = "High", Value = "1", Selected = Model.Priority == 1 });
        itemsPriority.Add(new SelectListItem { Text = "Medium", Value = "2", Selected = Model.Priority == 2 });
        itemsPriority.Add(new SelectListItem { Text = "Low", Value = "3", Selected = Model.Priority == 3 });
    }
    <br />
    <div>Priority</div>
    <div style="width:200px">@Html.DropDownList("Priority", itemsPriority, new { @class = "form-control col-md-1" })</div>
    <br />
    <div>Summary</div>
    <div>@Html.TextArea("Summary", @Model.Summary, 5, 31, new { @class = "form-control col-md-1" })</div>
    <br />
    <div>Attendees</div>
    <div>
        <input type="hidden" name="attendeesSel" id="attendeesSel"></input>
    </div>
    <br />
    @{
        <div style="display:none">
            @Html.TextBox("EventID", @Model.EventID, new { @class = "form-control col-md-1" })
        </div>
    }
    <hr />
    <div class="space">
        <div style="clear:both">
            <div style="float:left">
                <input id="btnSave" type="submit" value="OK" style="width: 100px; height: 30px; border: 2px solid black; margin-right:20px" onclick="return Validate()" />
            </div>
            <div style="float:left">
                <a href="javascript:close()"><div style="width: 100px;">Cancel</div></a>
            </div>
        </div>
        <br />
        <br />
    </div>
</form>

<script type="text/javascript">
    function close(result) {
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(result);
        }
    }

    $("#f").submit(function () {
        var f = $("#f");
        var url = f.prop('action') + '/?' + f.serialize();        
        var m = new parent.DayPilot.Modal();
        m.closed = function () {
            if (this.result == "OK") {
                close(this.result);
            }
        };

        m.showUrl(url);

        return false;
    });

    $(document).ready(function () {
        $("#Location").focus();

        $("Location").blur(function () {
            //var oTextBox = document.getElementById('Location');
            //checkWildCar(oTextBox, false);
        });

    });

</script>
