@using Data.Constants
@model KwasantWeb.Controllers.CalendarController.ConfirmEvent
@{ Layout = "~/Views/Shared/_Blank.cshtml"; }

<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<form id="f" method="post" style="margin:10px" action="@Url.Action("Confirm")">
    <h3>Confirm Changes</h3>
    <hr />
    <div>You are <b>@Html.Raw(Model.EventDO.Id == 0 ? "creating a new" : "editting an existing")</b> event.</div>
    <div style="@Html.Raw(Model.EventDO.IsAllDay ? String.Empty : "display:none;")">
        <div>* All day event * - @Model.EventDO.StartDate.ToShortDateString()</div>
    </div>
    <div style="@Html.Raw(Model.EventDO.IsAllDay ? "display:none;" : String.Empty)">
        <div>Start Date: @Model.EventDO.StartDate</div>
        <div>End Date: @Model.EventDO.EndDate</div>
    </div>
    <div>Location: @Model.EventDO.Location</div>
    <div>Summary: @Model.EventDO.Summary</div>
    <div>Description: @Model.EventDO.Description</div>
    <div>Attendees: @String.Join(", ", Model.EventDO.Attendees.Select(a => 
                   String.IsNullOrEmpty(a.Name) ?
                   a.EmailAddress :
                   a.Name + " (" + a.EmailAddress + ")"
                ))</div>
    
    @{
        <div style="display:none">
            @Html.TextBox("Key", @Model.Key, new { @class = "form-control col-md-1" })
        </div>
    }
    <hr />
    <div class="space">
        <div style="clear:both">
            <div style="float:left">
                <input id="btnSave" type="submit" value="CONFIRM" style="width: 100px; height: 30px; border: 2px solid black; margin-right:20px" />
            </div>
            <div style="float:left">
                <a href="javascript:close()"><div style="width: 100px;">REJECT</div></a>
            </div>
        </div>
        <br />
        <br />
    </div>
</form>

<script type="text/javascript">
    function close(result) {
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(result);
        }
    }

    $(function () {
        $("#f").submit(function () {
            var f = $("#f");
            $.post(f.prop('action'), f.serialize(), function (result) {
                var evaledRes = eval(result);
                close(evaledRes);
            });
            return false;
        });
    });
</script>