@model KwasantWeb.ViewModels.EventWindowViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@{
    ViewBag.Title = "Select Event Windows";
}
@section styles{
    @Styles.Render("~/bundles/css/daypilot")
}
@section immediateScripts
{
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/daypilot")

    @Scripts.Render("~/bundles/js/kwasantcalendar")
    @Scripts.Render("~/bundles/js/kwasantpopup")

}
@section scripts
{
    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/common")
}
@*width: 1270px;*@
<div class="jumbotron calendar-section jumbotron_new">
    <div class="row">
        <div id="CalendarDiv"></div>
    </div>
</div>
<div class="row">
    @Html.ActionLink("Back to booking requests", "Index", "BookingRequest")
</div>
<div class="row">
    @Html.ActionLink("Show Users", "Index", "User")
</div>

<script type="text/javascript">
    var calendar;
    $(function () {
        calendar = $('#CalendarDiv').KCalendar({
            getCalendarBackendURL: function () {
                return '@Url.Content("~/Calendar/Day?calendarIDs=" + String.Join(",", Model.LinkedCalendarIDs))';
            },
            getMonthBackendURL: function () {
                return '@Url.Content("~/Calendar/Month?calendarIDs=" + String.Join(",", Model.LinkedCalendarIDs))';
            },

            editRequiresConfirmation: false,
            newRequiresConfirmation: false,
            deleteRequiresConfirmation: false,
            moveRequiresConfirmation: false,

            getMoveURL: function (id, newStart, newEnd) { return '/Event/MoveEvent/?eventID=' + id + '&newStart=' + newStart + 'z&newEnd=' + newEnd + 'z&requiresConfirmation=false&mergeEvents=true'; },
            getDeleteURL: function (id) { return '/Event/DeleteEvent/?eventID=' + id + '&requiresConfirmation=false'; },
            getNewURL: function (start, end) { return '/Event/NewTimeSlot/?calendarID=' + @Model.MainCalendarID + '&start=' + start + 'z&end=' + end + 'z'; },
            
            //Disable clicking on them
            onEventClick: function (id) {
                
            },
        }
        );
    });
</script>