@using Data.Entities
@using Microsoft.WindowsAzure
@model IEnumerable<EmailDO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    LOGGING: @CloudConfigurationManager.GetSetting("LoggingConnectionString")
    TABLE: @CloudConfigurationManager.GetSetting("LoggingTableName")
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th></th>
    </tr>

@foreach (EmailDO item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmailID }) |
            @Html.ActionLink("Details", "Details", new { id = item.EmailID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EmailID })
        </td>
    </tr>
}

</table>
