@model ViewModel.Models.UsersAdminViewModel

@{
    ViewBag.Title = "User Details";
}

<h3>Details</h3>
<hr />
<div>    
    <div style="padding-left:400px">        
        @Html.ActionLink("Edit", "Edit", "Account", new { userId = @Model.UserId, roleId = @Model.RoleId }, null)         
    </div>
    <dl class="dl-horizontal">
        @{  
                <dt>First Name :</dt> <dd>@Model.FirstName</dd>
                <dt>Last Name  :</dt> <dd>@Model.LastName</dd>
                <dt>Email Address  :</dt> <dd>@Model.EmailAddress</dd>
                <dt>Role  :</dt> <dd>@Model.Role</dd>            
         }        
    </dl>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

