@model ViewModel.Models.UsersAdminViewModel

@{
    ViewBag.Title = "User Details";
}
<div class="page-title-action">
	<h2>Details</h2>
	<div class="title-actions">
		@Html.ActionLink("Back to List", "Index", null, new { @class = "custom-btn glyphicon glyphicon-arrow-left" })
		@Html.ActionLink("Edit", "Edit", "Account", new { userId = @Model.UserId, roleId = @Model.RoleId }, new { @class = "custom-btn glyphicon glyphicon-pencil" })
	</div>	
</div>
<table class="data-table dataTable user-details-table">
		@{
			<tr>
				<td>First Name:</td>
				<td>@Model.FirstName</td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td>@Model.LastName</td>
			</tr>
			<tr>
				<td>Email Address:</td>
				<td>@Model.EmailAddress</td>
			</tr>
			<tr>
				<td>Role:</td>
				<td>@Model.Role</td>
			</tr>
		}
</table>

<script type="text/javascript">
	$(document).ready(function () {
		$('.body-content table.data-table tbody tr:odd').addClass('even');
	})
</script>


