@model KwasantWeb.ViewModels.UserAdministerVM
@{
    ViewBag.Title = "Add User";
}
@section styles{
    @Styles.Render("~/bundles/css/daypilot")
}
@section immediateScripts
{
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/daypilot")
    @Scripts.Render("~/bundles/js/kwasantcalendar")
    @Scripts.Render("~/bundles/js/kwasantpopup")

}
@section scripts
{
    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/common")
}
<h2>Add User</h2>

<table width="100%">
    <tr>
        <td width="45%" style="vertical-align: top;padding-right:40px;">
            @Html.Partial("ShowUserDetails", new KwasantWeb.ViewModels.UserCreateVM { User = Model.User })
        </td>
        <td width="55%" style="vertical-align: top;">
            @Html.Partial("ShowUserCreationSettings")
        </td>
    </tr>
</table>
