@*@model Data.Entities.NegotiationDO
@model KwasantWeb.ViewModels.NegotiationViewModel*@
@{ Layout = "~/Views/Shared/_Blank.cshtml"; }
@section immediateScripts
{
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/select2")    
    @Scripts.Render("~/bundles/js/jqueryvalidate")

    <script src="/Content/js/Kwasant/Popup.js"></script>
    <script>
        $(function() {
            $('#questionContainer').hide();
            $('#answerContainer').hide();
        });

        function getNegotiationData() {
            $(function() {
                var negotiation = {};
                negotiation.Questions = $.map($('#appendquestinoId .questionBox'), function(element) {
                    element = $(element);
                    var questionText = element.find('#questionText').val();
                    var selectedType = element.find('input[type="radio"][name="questionType"]').filter(function() {
                        return $(this).get(0).checked;
                    }).val();

                    var answers = $.map(element.find('#appendanswerId .answerBox'), function(answerElement) {
                        answerElement = $(answerElement);
                        var answerText = answerElement.find('#answerText').val();
                        var answerStatus = answerElement.find('#answerStatus').val();

                        return { Text: answerText, Status: answerStatus };
                    });

                    return { Text: questionText, Type: selectedType, Answers: answers };
                });
            });
        }

        function submitNegotiation() {
            var negotiation = getNegotiationData();
        }

        function addQuestion() {
            $(function() {
                var clonedHTML = $('#questionContainer').clone();
                $('#appendquestinoId').append(clonedHTML);
                clonedHTML.slideDown();
            });
        }

        function addAnswer(obj) {
            $(function() {
                var parentBox = $(obj).closest('.questionBox');
                var selectedType = parentBox.find('input[type="radio"][name="questionType"]').filter(function() {
                    return $(this).get(0).checked;
                });
                if (selectedType.val() === "Text") {
                    var clonedHTML = $('#answerContainer').clone();
                    parentBox.find('#appendanswerId').append(clonedHTML);
                    clonedHTML.slideDown();
                }
            });
        }

        function removeQuestion(obj) {
            $(function() {
                $(obj).closest('.questionBox').slideUp();
            });
        }

        function removeAnswer(obj) {
            $(function() {
                $(obj).closest('.answerBox').slideUp();
            });
        }
    </script>
}
@section scripts
{
	@Scripts.Render("~/bundles/js/moment")
	@Scripts.Render("~/bundles/js/bootstraptransition")
	@Scripts.Render("~/bundles/js/collapse")	
	@Scripts.Render("~/bundles/js/bootstrap")
	@Scripts.Render("~/bundles/js/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/js/modernizr")	
    @Scripts.Render("~/bundles/js/common")
}
@section styles
{
    @Styles.Render("~/bundles/css/bootstrap30")
    @Styles.Render("~/bundles/css/backendcss")
    @Styles.Render("~/bundles/css/select2")
    @Styles.Render("~/bundles/css/bootstrap-datetimepicker")
	@Styles.Render("~/bundles/css/temp")
    <link href="@Url.Content("~/Content/css/additionalcss/font-awesome/css/font-awesome.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .questionBox {
            border-color: #D3B9B9;
            padding: 5px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-style: solid;
            border-width: 1px;
        }
        .answerBox {
            border-color: #D3B9B9;
            padding: 5px;
            margin: 10px;
            border-style: solid;
            border-width: 1px;
        }
        .handIcon {
            cursor: pointer;
        }
    </style>
}

<form id="f" class="negotiationsidebar">
    <!-- The following is used to create questions-->
    <div id="questionContainer" class="questionBox">
        <table style="width: 100%">
            <tr>
                <td>
                    <label id="questionlbl">Question : </label>
                </td>
                <td>
                    <input type="text" id="questionText" name="Question" class="form-control col-md-1" />
                </td>
                <td>
                    <img src="~/Content/img/Cross.png" class="handIcon" onclick="removeQuestion(this)" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Type:
                    <label>
                        <input type="radio" name="questionType"value="Text" checked>
                        Text    
                    </label>
                    <label>
                        <input type="radio" name="questionType" value="Timeslot">
                        Event Window
                    </label>
                </td>
            </tr>
        </table>
        <div id="appendanswerId">
        </div>
        <span class="form-group handIcon" id="divAddAnswer" onclick="addAnswer(this)">
            <img src="~/Content/img/plus.png" />
            <label class="handIcon">Add Answer</label>
        </span>
    </div>
    
    <div id="answerContainer" class="answerBox" data-type="text">
        <table style="width: 100%">
            <tr>
                <td>
                    <img src="~/Content/img/minus.png" class="handIcon" onclick="collapseanswer(this)" />
                </td>
                <td>
                    <input type="text" name="answerText" id="answerText" class="form-control col-md-1" />
                </td>
                <td>
                    <img src="~/Content/img/Cross.png" class="handIcon" onclick="removeAnswer(this)" />
                </td>
            </tr>
            <tr>
                <td>
                    Status:
                </td>
                <td>
                    <select id="answerStatus" class="form-control">
                        <option value="1">Unstarted</option>
                        <option value="2">Proposed</option>
                        <option value="3">Selected</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    

    <div class="form-horizontal" data-negotiationId="0" id="divNegotiation">
        <h4>Negotiation</h4>
        <div class="form-group negotiation-mrbottom">
            <table>
                <tr>
                    <td>&nbsp; 
                        <label>Name:</label>
                    </td>
                    <td>
                        <input type="text" id="NegName" name="NegNameId" value="Negotiation 1" class="form-control col-md-1" />
                    </td>
                </tr>
            </table>
        </div>
        
        <div id="appendquestinoId">
        </div>

        <span class="form-group handIcon" id="divAddQuestion" onclick="addQuestion()">
            &nbsp; &nbsp;
            <img src="~/Content/img/plus.png" />
            <label class="handIcon">Add Question</label>
        </span>

        <div class="space form-actions negotiation-form-actions">
            <input id="btnSave" type="button" value="OK" class="btn btn-default pull-left" onclick="submitNegotiation()" />
            
            <a href="javascript:close();" class="cancel-btn pull-left">Cancel</a>
        </div>
    </div>
</form>
