@model KwasantWeb.ViewModels.ClarificationResponseVM

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@section immediateScripts
{
    @Scripts.Render("~/bundles/js/jqueryvalidate")
}
@section scripts
{
    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/bootstrap")
}
@section styles
{
    @Styles.Render("~/bundles/css/bootstrap30")
    @Styles.Render("~/bundles/css/backendcss")
}



@*@using (Html.BeginForm("ProcessSubmittedClarificationData", "NegotiationResponse", FormMethod.Post))
{*@


<h2>We need clarification about the following to finish booking your event:</h2>


@foreach (var question in Model)
{
    <div class="formItem">
        <label>Question : </label>
        @question.Text
    </div>
    <div class="formItem">
        @foreach (var ans in question.Answers)
        {
            <input type="radio" name="@question.Id" value="@ans.Id"/>   @ans.Text<br />
        }
        @if (question.Response == "Text")
        {
            <input type="radio" name="@question.Id" data-type="Text" value="suggestion"/>
            @Html.Raw("Suggest your own answer")<br />
            <input type="text" style="margin-left: 16px;" value="" id="@question.Id"/><br />   
        }
        else
        {
            <input type="radio" name="@question.Id" data-type="Timeslot" value="suggestion"/>
            @Html.Raw("Suggest your own answer")<br />
            <button class="pick" style="margin-left: 16px;" onclick="return false;">Pick Times</button><br />
        }
        <br />
        <br />
    </div>
}

<div class="space">
    <div style="clear: both">
        <div style="float: left">
            <input type="button" value="send" onclick="sendthis();"/>
        </div>
    </div>
    <br />
    <br />
</div>

<script type="text/javascript">
    function sendthis() {
        var answers = [];
        $("input[type='radio']").each(function () {
            if (this.checked) {
                if (this.value != "suggestion") {
                    answers.push(this.value);
                }
                else {
                    if ($(this).attr("data-type") == "Text") {
                        answers.push(this.name + "~" + $("#" + this.name).val());
                    }
                }
            }
        });
        var data = { answerArray: JSON.stringify(answers) };
        $.ajax({
            type: 'Get',
            url: '@Url.Action("ProcessResponse", "ClarificationRequest")',
            dataType: "json",
            data: data,
            success: function (response) {
                //alert(response);
            }
        });
    }
</script>

@*<div class="space">
    <div style="clear: both">
        <div style="float: left">
            <input type="submit" value="Send" style="border: 2px solid black; height: 30px; margin-right: 20px; width: 100px;">
        </div>
    </div>
    <br />
    <br />
</div>*@

@*}*@













@*@using (Html.BeginForm("ProcessSubmittedClarificationData", "NegotiationResponse", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.BookingRequestId)
    <h2>We need clarification about the following to finish booking your event:</h2>
    @Html.HiddenFor(m => m.QuestionId)
    @Html.HiddenFor(m => m.Question)
    <div>@Html.Raw(Model.Question)</div>
    <div class="formItem">
        <div class="formLabel">
            Response
        </div>
        
        @Html.TextBoxFor(m => m.Response, new { @class = "form-control col-md-1" })
    </div>
    <div class="formItem">
        <div class="formLabel">
            Subject
        </div>
        @Html.HiddenFor(m => m.Subject)
        <div>@Html.Raw(Model.Subject)</div>
    </div>
    <div class="formItem">
        <div class="formLabel">
            Body
        </div>
        @Html.HiddenFor(m => m.Body)
        <div>@Html.Raw(Model.Body)</div>
    </div>
    <div class="space">
        <div style="clear: both">
            <div style="float: left">
                <input type="submit" value="Send" style="border: 2px solid black; height: 30px; margin-right: 20px; width: 100px;">
            </div>
        </div>
        <br />
        <br />
    </div>
    
}*@


