@{
Layout = "~/Views/Shared/_Blank.cshtml";
}
<a style="float: right; cursor: pointer" onclick="closethis();">Close</a>

<h2>History</h2>


@section immediateScripts
{
	 @Scripts.Render("~/bundles/js/jquery")
     @Scripts.Render("~/bundles/js/select2")    
     @Scripts.Render("~/bundles/js/jqueryvalidate")
    <script src="/Content/js/Kwasant/Popup.js"></script>
    <script src="~/Scripts/DataTables-1.10.0/media/js/jquery.dataTables.js"></script>
    <link href="~/Content/DataTables-1.10.0/media/css/jquery.dataTables.css" rel="stylesheet" />
     

}
@section scripts
{
	@Scripts.Render("~/bundles/js/moment")
	@Scripts.Render("~/bundles/js/bootstraptransition")
	@Scripts.Render("~/bundles/js/collapse")	
	@Scripts.Render("~/bundles/js/bootstrap")
	@Scripts.Render("~/bundles/js/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/js/modernizr")	
    @Scripts.Render("~/bundles/js/common")
}
@section styles
{
    @Styles.Render("~/bundles/css/bootstrap30")
    @Styles.Render("~/bundles/css/backendcss")
    @Styles.Render("~/bundles/css/select2")
    @Styles.Render("~/bundles/css/bootstrap-datetimepicker")
	@Styles.Render("~/bundles/css/temp")
	<link href="@Url.Content("~/Content/css/additionalcss/font-awesome/css/font-awesome.css")" rel="stylesheet" type="text/css" />
}
<style>
    .filters_btn input {
        padding: 10px;
        background: #D85E17;
        border: 1px solid #3E3E3E !important;
        width: 100px;
        border-radius: 4px;
        border: none;
        color: #fff;
        font-size: inherit;
        margin-bottom: 10px;
    }
</style>


<table id="tblHistoryReport" class="table">
    <thead>
        <tr>
            <th style="width: 15%">Date</th>
            <th style="width: 15%">Category</th>
            <th style="width: 15%">Activity</th>
            <th style="width: 10%">Status</th>
        </tr>
    </thead>
</table>


<script type="text/javascript">
    showHistory();
    function showHistory()
    {
        var bookingRequestId=@ViewBag.bookingRequestID;
        $.getJSON("/Report/ShowHistoryByBookingRequestId", { bookingRequestId: bookingRequestId }, showHistoryReport);
        function showHistoryReport(response) {
            $('#tblHistoryReport').DataTable({
                destroy: true,
                "scrollY": "250px",
                "scrollCollapse": true,
                data: JSON.parse(response),
                columns: [
                    { data: 'create_date'},
                    { data: 'primary_category' },
                    { data: 'activity' },
                    { data: 'status' }
                ],
            });
        }
    }

    function closethis(){
        $(window.parent.document).find("iframe").each(function () {
            if ($(this).attr("style").indexOf("z-index") > 0) {
                if ($(this).attr("style").indexOf("display: none") < 0) {
                    $(this).remove();
                }
            }
        });
    }
   
</script>
