<h2>@ViewBag.Title</h2>
<script src="~/Scripts/DataTables-1.10.0/media/js/jquery.dataTables.js"></script>
<link href="~/Content/DataTables-1.10.0/media/css/jquery.dataTables.css" rel="stylesheet" />
<nav class="navbar navbar-default top-toolbar-section" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        @Html.Partial("TimeSpanNavigator")
    </div>
</nav>

<table id="tblreport" class="data-table">
    <thead>
        <tr>
            <th style="width: 15%">Date</th>
            <th style="width: 15%">Primary Category</th>
            <th style="width: 15%">Secondary Category</th>
            <th style="width: 10%">Activity</th>
            <th style="width: 45%">Notes</th>
        </tr>
    </thead>
</table>

<table id="tblincidentreport" class="data-table">
    <thead>
        <tr>
            <th style="width: 10%">Date</th>
            <th style="width: 10%">Primary Category</th>
            <th style="width: 15%">Secondary Category</th>
            <th style="width: 10%">Activity</th>
            <th style="width: 45%">Notes</th>
            <th style="width: 10%">ObjectID</th>
        </tr>
    </thead>
</table>

<table id="tblAllLogs" class="data-table">
    <thead>
        <tr>
            <th style="width: 15%">Date</th>
            <th style="width: 15%">Name</th>
            <th style="width: 15%">Level</th>
            <th style="width: 55%">Message</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">
    //Document ready function, will run after page is ready and all elements are loaded.
    $(document).ready(function () {
        $('#tblAllLogs').hide();
        $('#tblreport').hide();
        $('#tblincidentreport').hide();

        updateTables();
    });

    function updateTables() {

        var queryPeriod = "all";
        var table;
        var columns;
        $('a#all').addClass('current');
        //Initializing columns defination for DataTable widget according to report type.
        switch ("@ViewBag.type") {
            case "incident":
                columns = [
                    {
                        data: function (data) {
                            return convertToDateString(data.create_date);
                        }
                    },
                    { data: 'primary_category' },
                    { data: 'secondary_category' },
                    { data: 'activity' },
                    { data: 'data' },
                    { data: 'object_id' }
                ];
                break;
            case "usage":
                columns = [
                    {
                        data: function (data) {
                            return convertToDateString(data.create_date);
                        }
                    },
                    { data: 'primary_category' },
                    { data: 'secondary_category' },
                    { data: 'activity' },
                    { data: 'data' }
                ];
                break;
            case "alllogs":
                columns = [
                    {
                        data: function (data) {
                            return convertToDateString(data.date);
                        }
                    },
                    { data: 'name' },
                    { data: 'level' },
                    { data: 'message' },
                ];
                break;
        }

        loadReport();

        //Inserts retrieved json records into DataTable Widget
        function showRequests(response) {
            var tableToWrite;// = $('#tblreport');
            var tableToHide;
            if ("@ViewBag.type" == "alllogs") {
                tableToWrite = $('#tblAllLogs');
                tableToHide = $('#tblreport');
                tableToHide = $('#tblincidentreport');
            }
            else if ("@ViewBag.type" == "incident")
            {
                tableToWrite = $('#tblincidentreport');
                tableToHide = $('#tblreport');
                tableToHide = $('#tblAllLogs');
            }
            else {
                tableToWrite = $('#tblreport');
                tableToHide = $('#tblAllLogs');
                tableToHide = $('#tblincidentreport');
            }

            table = tableToWrite.DataTable({
                data: JSON.parse(response),
                order: [0, 'desc'],
                columns: columns,
            });
            tableToHide.hide();
            tableToWrite.show();
        }

        function loadReport() {
            //Ajax call to get report records from server.
            $.post("/Report/ShowReport", { queryPeriod: queryPeriod, type: "@ViewBag.type" }, showRequests, 'json');
        }

        //Initializing click for all filter buttons.
        $('.top-toolbar-section a').click(function () {
            $('.top-toolbar-section a').each(function () {
                $(this).removeClass('current');
            });
            $(this).addClass('current');
            queryPeriod = $(this).attr("id");
            table.destroy();
            loadReport();
            return false;
        });
    }



</script>
